main {
  width: 654px !important;
}

section {
  margin: 2rem 0;
}

.btn {
  border-radius: 0;
}

.InputTextDisplay .LetterCard {
  color: #7d49b0;
}

.LetterSelector .LetterCard {
  color: #834e00;
}
